<!DOCTYPE html>
<html>
	<head>
		<title>Manifeste!</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
		<script src="assets/lib/head.js" data-headjs-load="./app.js"></script>
	</head>
	<body>
		<div class="header">
			<center ng-controller="SessionController">
				<img src="assets/img/logo.jpg" alt="Logo do sistema" height="75" width="75"/>
					<span ng-if="model.isAuthorized">
						<p class="nome">
							Bem vindo, <strong>Daniel Bastos</strong> (
							 <a ng-click="model.sair()">sair</a>
							)
						</p>
					</span>
					<span ng-if="!model.isAuthorized">
						<p class="nome">Bem vindo, <a href="#/login">faça login</a> ou <a href="#/signup"> se cadastre </a>
					</span>
			</center>

			<table class="menu">
			  <tr>
		      	<td><a href="#/main">Inicio</a></td>
			    <td><a href="#/minhas">Minhas ocorrências</a></td>
			    <td><a href="#/config">Configurações</a></td>
			    <td><a href="index">Sair</a></td>
			  </tr>
			</table>
		</div>

		<div ng-view class="body"></div>
	</body>
</html>